language: node_js

node_js:
  - "0.12"
  - "0.10"
  - "node"
#  - "iojs"

before_install: npm install -g grunt-cli

before_script:
  - cd server/
  - npm install
  - npm start &

notifications:
    on_success: change
    on_failure: change
