body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h2 {
    color: #666666;
}

h3 {
    color: #2DA925;
}

ul li {
    font-size: large;
}
