extends layout

block content
    h1= title
    p   Welcome to #{title} library home page

    h2  Available resources

    h3  GET
    ul
        li  / #[span(class='ps-comment') <== Hey, you are here dude!]
        li  #[a(href='/networks') /networks]
        li  /news?q={query}&excludedNetworks={networkId}&excludedNetworks={otherNetworkId}
        hr
        li  #[a(href='/demo') /demo] #[span(class='ps-comment') <== Try both the jQuery plugin and the REST API from a live example!]
