extends layout

block content
    h1= title
    p   Welcome to #{title} library home page

    h2  Available resources

    h3  GET
    ul
        li  /
        li  /networks
        li  /news?q={query}&excludedNetworks={networkId}&excludedNetworks={otherNetworkId}
