<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="$PROJECT_DIR$/../../xDKs/node-v0.12.2-linux-x64/bin/node" path-to-js-file="bin/www" working-dir="$PROJECT_DIR$/server">
    <envs>
      <env name="DEBUG" value="server:*" />
    </envs>
    <browser start="true" with-js-debugger="true" url="http://localhost:3000/" />
    <method />
  </configuration>
</component>